
$btn-border-radius: 20px;
$color-contrast-light: white;
$body-bg: black;
$body-color: black;
$card-bg: black;
$body-color: white;
$link-color: white;
@import "../node_modules/bootstrap/scss/bootstrap";